/commons-codec.jar
/commons-logging.jar
/httpclient.jar
/httpcore.jar
/jackson-annotations.jar
/jackson-core.jar
/jackson-databind.jar
/json-web-service-client-shared.jar
/jstl-api.jar
/jstl-impl.jar
/lcs-shared.jar
/log4j.jar
/portal-compat-shared.jar
/slf4j-api.jar
/util-bridges.jar
/util-java.jar
/util-slf4j.jar
/util-taglib.jar